.gjjbook-header .navbar {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #34495E;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.gjjbook-header .navbar a.navbar-brand {
    font-size: 150%;
    font-weight: bold;
    color: white;
}

.gjjbook-header .navbar a.navbar-brand:hover {
    color: white;
}

.gjjbook-header .dropdown.open {
    background: #4dff58;
}

.gjjbook-header .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 5px 5px #DADFE1;
}

.gjjbook-header .dropdown:hover, .dropdown:active, .dropdown:focus {
    background-color: #25394b;
}

.gjjbook-header .input-group input.form-control:hover {
    width: 200%;
}

.gjjbook-header .input-group input.form-control {
    width: 100%;
}

.gjjbook-header ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.gjjbook-header ul.nav li.dropdown a {
    color: white;
}

.gjjbook-header .dropdown:hover ul.dropdown-menu a {
    color: #34495E;
}

.gjjbook-header input.form-control, button.btn, button.btn.btn-default {
    border-radius: 0;
}

.gjjbook-header .input-group .form-control {
    transition: width 0.4s ease-in-out;
}

.gjjbook-header .glyphicon-search {
    height: 20px;
    padding-top: 3px;
    color: #34495e;
}

.gjjbook-header .btn-default {
    margin: auto;
}

.gjjbook-header .navbar-form {
    padding: 0 0 0 0;
}

.gjjbook-header .col-xs-3 {
    padding: 0 0 0 2px;
}

.gjjbook-header .form-control {
    padding-right: 15px;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;
}